// .footer-section {
//     background-color: #333;
//     color: #fff;
//     padding: 20px 0;
  
//     .footer-container {
//       display: grid;
//       grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//       gap: 20px;
//       max-width: 1200px;
//       margin: 0 auto;
//       padding: 0 20px;
  
//       @media (max-width: 768px) {
//         grid-template-columns: 1fr 1fr;
//       }
  
//       @media (max-width: 480px) {
//         grid-template-columns: 1fr;
//         text-align: center;
//       }
//     }
  
//     .footer-title {
//       font-size: 18px;
//       margin-bottom: 10px;
//       color: #ff9800;
//     }
  
//     .footer-description {
//       font-size: 14px;
//       line-height: 1.6;
//     }
  
//     .footer-links ul {
//       list-style: none;
//       padding: 0;
  
//       li {
//         margin-bottom: 8px;
  
//         a {
//           color: #fff;
//           text-decoration: none;
//           font-size: 14px;
  
//           &:hover {
//             color: #ff9800;
//           }
//         }
//       }
//     }
  
//     .footer-contact {
//       p {
//         font-size: 14px;
//         margin: 5px 0;
//       }
//     }
  
//     .footer-social {
//       .footer-social-icons {
//         display: flex;
//         justify-content: center;
//         gap: 15px;
  
//         @media (max-width: 480px) {
//           justify-content: center;
//         }
  
//         svg {
//           font-size: 24px;
//           cursor: pointer;
  
//           &:hover {
//             color: #ff9800;
//           }
//         }
//       }
//     }
//   }
  

.footer {
  background-color: #0B1120;
  color: #fff;
  padding: 40px 20px;
  font-family: 'Arial', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-heading {
  font-size: 20px;
  color: #F29200;
  margin-bottom: 20px;
  position: relative;
}

.footer-heading::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
  height: 2px;
  background-color: #F29200;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: #F29200;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  margin-right: 10px;
  color: #ccc;
  font-size: 20px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #F29200;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #333;
  margin-top: 30px;
  color: #ccc;
}

.footer-bottom p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    margin: 20px 0;
    text-align: center;
  }
}
