#root{
    display: flex;
    flex-direction: column;
    min-height:100vh ;
  }
  main{
    flex: 1 0 auto;
  }
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45vh;
    min-width: 60vw;

  }
  .center{
display: flex;
  }